#nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .nav__btn {
    min-width: 180px;
    min-height: 100px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Abel";
    color: var(--white);
    position: relative;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out, filter 0.3s ease-in-out;
    border: 1px solid transparent;

    &#intro__btn {
      background-color: var(--white);
      color: var(--black);
    }
    &#about__btn {
      background-color: var(--orange);
    }
    &#site__btn {
      background-color: var(--purple);
    }
    &#script__btn {
      background-color: var(--blue);
    }
    &#contact__btn {
      background-color: var(--black);
    }

    &:hover:not(.active) {
      background-color: transparent !important;
      border: 1px solid var(--black);
      color: var(--black);
    }
  }
  button .nav__num {
    font-weight: 600;
    font-size: 14px;
  }
  button .nav__text {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }
  button .nav__dot {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
  }
}
@media (max-width: 1023px) {
  #nav {
    display: none;
  }
}
